<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='bs/css/flatly.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    </head>

    <nav class="nav">
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-encode" type="button" role="tab" aria-controls="pills-encode" aria-selected="true">Encode</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-decode" type="button" role="tab" aria-controls="pills-decode" aria-selected="false">Decode</button>
        </li>
        </li>
      </ul>
    </nav>


    {% block body %}{% endblock %}

        <footer>
            <div class="row pad">
                <div class="col-lg-12 text-center">
                    Copyright &copy; 2017 <strong>Trendy Fashion Store</strong>
                </div>
            </div>
        </footer>
    </div>

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='bs/js/jquery.min.js') }}"></script>
    <!-- Bootstrap JavaScript -->
    <script src="{{ url_for('static', filename='bs/js/bootstrap.min.js') }}"></script>

</body>
