{% extends "try_layout.jinja2" %}


{% block pagestyles %}
<link href="{{ url_for('static', filename='dist/css/chart_style.css') }}" rel="stylesheet" type="text/css">
{% endblock %}



{% block content %}

<h3> Hello </h3>

{% endblock %}
