<a href="{{ url_for('main.index') }}">Return to Index</a>
<br>

  <!-- Current Tasks -->
  {% if todo_list %}
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Current Tasks</h3>

        <table class="table table-striped">
          {% for todo in todo_list %}
              <tr>
                <!-- Task ID -->
                <td class="table-text">{{ todo.id }}</td>                
                <!-- Task Name -->
                <td class="table-text">{{ todo.todo_text }}</td>
                <!-- Delete Button -->
                <td>
                  <form action="{{ url_for('main.delete', todo_id=todo.id) }}"
                        method="POST">
                    <button type="submit" class="btn btn-danger">
                      <i class="fa fa-trash"></i> Delete
                    </button>
                  </form>
          {% endfor %}
  {% endif %}


